<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Customer Conversion Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="dur" placeholder="dur" required="required" /><br>
    	<input type="text" name="mon" placeholder="mon" required="required" /><br>
        <input type="text" name="day" placeholder="day" required="required" /><br>
        <input type="text" name="age" placeholder="age" required="required" /><br>
        <input type="text" name="num_calls" placeholder="num_calls" required="required" /><br>
        <input type="text" name="education_qual" placeholder="education_qual" required="required" /><br>
        <input type="text" name="job" placeholder="job" required="required" /><br>
        <input type="text" name="prev_outcome" placeholder="prev_outcome" required="required" /><br>
        <input type="text" name="marital" placeholder="marital" required="required" /><br>
        <input type="text" name="call_type" placeholder="call_type" required="required" /><br>
        

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>